<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .config.head.description }}">
    <link rel="icon" href="{{ .uri }}/static/img/{{ .config.head.icon }}">

    <link rel="stylesheet" href="{{ .uri }}/static/css/bootstrap.css"></link>
    <link rel="stylesheet" href="{{ .uri }}/static/css/base.css"></link>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ .uri }}/static/js/base.js"></script>

    <title>{{ .config.head.name }}</title>
</head>

<style>
    {{ if .config.fonts }}
    {{ range $font := .config.fonts }}
    @font-face {
    font-family: '{{ $font.name }}';
    src: url('{{ .uri }}/static/fonts/{{ $font.src }}') format('woff');
    font-weight: "{{ $font.font_weight }}";
    font-style: "{{ $font.font_style }}";
    }
    {{ end }}
    {{ end }}

</style>