{{ $lang := .lang }}
{{ range .config.body}}
{{ $entry := .}}
<div class="row">
    <h1 class="text-center mt-4" id="{{ $entry.name }}">{{ $entry.name }}</h1>
</div>
{{ if .contacts }}
<div class="row">
  <h2 class="text-center mt-4" id="{{ $entry.name }}Contacts">{{ if $lang.contacts }}{{ $lang.contacts }}{{ else }}Contacts{{ end }}</h1>
</div>
<div class="row pt-4 justify-content-center">
{{ range $contact := .contacts}}
<div class="card gallerycard shadow mx-4">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ $contact.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ $contact.title }}</h6>
    <div class="collapse" id="{{ $contact.title }}{{ $entry.name }}Collapse">
      <p>{{ $contact.description }}</p>
    </div>
    <div class="mt-auto">
      <div class="collapse" id="{{ $contact.title }}{{ $entry.name }}Collapse">
        <table>
        <tr>
            <td>Tel.: </td>
            <td>{{ $contact.tel }}</td>
        </tr>
        </table>
      </div>
      <button onclick="changeText(this, {{ $lang.show_more }}, {{ $lang.show_less }})" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $contact.title }}{{ $entry.name }}Collapse" aria-expanded="false" aria-controls="{{ $contact.title }}{{ $entry.name }}Collapse">
        {{ if $lang.show_more }}{{ $lang.show_more }}{{ else }}Show more{{ end }}
      </button>
  </div>
  </div>
</div>
{{ end }}
</div>
{{ end }}
{{ if .gallery }}
<div class="row">
  <h2 class="text-center mt-4" id="{{ $entry.name }}Gallery">{{ if $lang.gallery }}{{ $lang.gallery }}{{ else }}Gallery{{ end }}</h1>
</div>
<div class="row justify-content-center pt-4">
{{ range $image := .gallery}}
  <div class="card gallerycard shadow mx-4">
    <img src="static/img/{{ $image.src }}" class="card-img-top" alt="{{ $image.alt }}" loading="lazy">
    <div class="card-body d-flex flex-column">
        <h5 class="card-title mt-auto mx-auto">{{ $image.title }}</h5>
        <a href="static/img/{{ $image.src }}" class="stretched-link" target="_blank"></a>
    </div>
  </div>
{{ end }}
</div>
{{ end}}
{{end}}